<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
    <title>Dictionary</title>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>
<body>
  {% block sidebar %}
    <div id="banner"></div>
    {% if request.user.is_authenticated %}
      <!-- <p>Welcome {{ request.user.username }} !!!</p> -->
      <a href="/dictionary/verify" id="verification">Apply for Verification</a>
      <a href="/accounts/logout/" id="logout">Logout</a>
      <a href="/dictionary/create/" id="create_entry_homepage">Add an Entry</a>
      <div class="content container">
          <div class="row">
              <div class="col-md-8">
              </div>
          </div>
      </div>
    {% else %}
      <a href="/accounts/login/" id="login">Log In</a>
      <a href="/accounts/register/" id="register">Register</a>
    {% endif %}
  {% endblock %}
  {% block content %}
  {% endblock %}
</body>
</html>
